modules = ["nodejs-18"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "discord-bot"

[[workflows.workflow]]
name = "discord-bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39255
externalPort = 3000

[[ports]]
localPort = 42969
externalPort = 3002

[[ports]]
localPort = 44159
externalPort = 3001

[[ports]]
localPort = 46481
externalPort = 3003

[deployment]
deploymentTarget = "vm"
run = ["npm", "run", "start:all"]
build = ["npm", "install"]
